Repository dim-sirka/animal-service, pull requests merged in 2020-10, with the labels that each got.

#4 Add oder management controller
  src/main/java/com/dimsirka/animalservice/controllers/OrderController.java
  src/main/java/com/dimsirka/animalservice/dtoes/OrderDto.java
  src/main/java/com/dimsirka/animalservice/exceptions/OrderNotFoundException.java
  src/main/java/com/dimsirka/animalservice/mapper/OrderDtoMapper.java
  src/main/java/com/dimsirka/animalservice/repositories/OrderRepository.java
  src/main/java/com/dimsirka/animalservice/services/OrderService.java
  src/main/java/com/dimsirka/animalservice/services/impl/OrderServiceImpl.java
Labels: order management

#3 Order management logic
  build.gradle
  src/main/java/com/dimsirka/animalservice/dtoes/OrderDto.java
  src/main/java/com/dimsirka/animalservice/entities/Order.java
  src/main/java/com/dimsirka/animalservice/exceptions/OrderNotFoundException.java
  src/main/java/com/dimsirka/animalservice/services/OrderService.java
  src/main/java/com/dimsirka/animalservice/services/impl/OrderServiceImpl.java
Labels: order management

#5 Add endpoint for getting animals by status
  src/main/java/com/dimsirka/animalservice/controllers/AnimalController.java
  src/main/java/com/dimsirka/animalservice/repositories/AnimalRepository.java
  src/main/java/com/dimsirka/animalservice/services/AnimalService.java
  src/main/java/com/dimsirka/animalservice/services/OrderService.java
  src/main/java/com/dimsirka/animalservice/services/impl/AnimalServiceImpl.java
  src/test/java/com/dimsirka/animalservice/integration/AnimalControllerTest.java
Labels: animal managemant

#6 Endpoint to cancel Order and test
  src/main/java/com/dimsirka/animalservice/controllers/OrderController.java
  src/main/java/com/dimsirka/animalservice/mapper/OrderDtoMapper.java
  src/test/java/com/dimsirka/animalservice/integration/OrderControllerTest.java
Labels: order management

#2 Add admin management logic
  build.gradle
  src/main/java/com/dimsirka/animalservice/AnimalServiceApplication.java
  src/main/java/com/dimsirka/animalservice/configs/EmailConfig.java
  src/main/java/com/dimsirka/animalservice/configs/EncoderConfig.java
  src/main/java/com/dimsirka/animalservice/configs/SecurityConfig.java
  src/main/java/com/dimsirka/animalservice/controllers/AdminController.java
  src/main/java/com/dimsirka/animalservice/controllers/AnimalController.java
  src/main/java/com/dimsirka/animalservice/controllers/AuthController.java
  src/main/java/com/dimsirka/animalservice/controllers/HelloController.java
  src/main/java/com/dimsirka/animalservice/dtoes/AdminDto.java
  src/main/java/com/dimsirka/animalservice/dtoes/LoginDto.java
  src/main/java/com/dimsirka/animalservice/dtoes/ResetPasswordDto.java
  src/main/java/com/dimsirka/animalservice/entities/Admin.java
  src/main/java/com/dimsirka/animalservice/entities/Animal.java
  src/main/java/com/dimsirka/animalservice/entities/EmailMessageType.java
  src/main/java/com/dimsirka/animalservice/entities/Token.java
  src/main/java/com/dimsirka/animalservice/exceptions/AdminNotFoundException.java
  src/main/java/com/dimsirka/animalservice/exceptions/BadAdminCredentialsException.java
  src/main/java/com/dimsirka/animalservice/exceptions/EntityDuplicateException.java
  src/main/java/com/dimsirka/animalservice/exceptions/handler/GlobalExceptionHandler.java
  src/main/java/com/dimsirka/animalservice/mapper/AdminDtoMapper.java
  src/main/java/com/dimsirka/animalservice/mapper/AnimalDtoMapper.java
  src/main/java/com/dimsirka/animalservice/mapper/EntityDtoMapper.java
  src/main/java/com/dimsirka/animalservice/repositories/AdminRepository.java
  src/main/java/com/dimsirka/animalservice/repositories/TokenRepository.java
  src/main/java/com/dimsirka/animalservice/security/RestAuthenticationEntryPoint.java
  src/main/java/com/dimsirka/animalservice/security/TokenAuthentication.java
  src/main/java/com/dimsirka/animalservice/security/TokenFilter.java
  src/main/java/com/dimsirka/animalservice/security/TokenProvider.java
  src/main/java/com/dimsirka/animalservice/services/AdminService.java
  src/main/java/com/dimsirka/animalservice/services/AuthService.java
  src/main/java/com/dimsirka/animalservice/services/EmailService.java
  src/main/java/com/dimsirka/animalservice/services/impl/AdminServiceImpl.java
  src/main/java/com/dimsirka/animalservice/services/impl/AnimalServiceImpl.java
  src/main/java/com/dimsirka/animalservice/services/impl/AuthServiceImpl.java
  src/main/java/com/dimsirka/animalservice/services/impl/EmailServiceImpl.java
  src/main/resources/animal-service.ods
  src/main/resources/application.yaml
  src/test/java/com/dimsirka/animalservice/integration/AbstractContainer.java
  src/test/java/com/dimsirka/animalservice/integration/AdminControllerTest.java
  src/test/java/com/dimsirka/animalservice/integration/AnimalControllerTest.java
  src/test/java/com/dimsirka/animalservice/integration/AuthControllerTest.java
  src/test/resources/data/init_data.sql
Labels: admin management, email management, spring security

#7 Add confirmOrder endpoint and add token to header in tests according to a previous PR
  src/main/java/com/dimsirka/animalservice/controllers/OrderController.java
  src/main/java/com/dimsirka/animalservice/exceptions/OrderNotFoundException.java
  src/main/java/com/dimsirka/animalservice/services/impl/AdminServiceImpl.java
  src/test/java/com/dimsirka/animalservice/integration/AdminControllerTest.java
  src/test/java/com/dimsirka/animalservice/integration/AnimalControllerTest.java
  src/test/java/com/dimsirka/animalservice/integration/OrderControllerTest.java
Labels: order management
